header {
    border: 1px solid green;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

main {
    border: 1px solid blue;
}

footer {
    border: 1px solid red;
}
.Nav{
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 50px
    ;
}