body {
background-image: url(/images/backgroundMain.jpg);
background-size: cover;

}

header {
    color: white;
    border: 1px solid green;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

main {
    border: 1px solid blue;
    color: white;
}

footer {
    border: 1px solid red;
    color: white;
}
.Nav{
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 50px;
    list-style: none;
}

.aboutMe{
    

}